
.login-nav {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 200px;           
  width: 100%;
}

.logo-centered {
  
  max-width: 300px; 
  height: auto;
}


.CentralNav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0; 
}

.CentralNav .logo {
  max-width: 200px; 
  height: auto;
}

.nav-superior {
  display: flex;
  gap: 1rem; 
}

.nav-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.Hidden {
  display: none;
}